<h1>喵一堆</h1>

<table>
  <thead>
    <tr>
      <th>图片</th>
      <th>描述</th>
      <th>用户</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= image_tag pin.image.url(:medium) %></td>
        <td><%= pin.description %></td>
        <td><%= pin.user.email if pin.user %></td>
        <td><%= link_to '查看', pin_path(pin) %></td>
        <% if pin.user == current_user %>
          <td><%= link_to '编辑', edit_pin_path(pin) %></td>
          <td><%= link_to '删除', pin, method: :delete, data: { confirm: '确定删除?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to '添加', new_pin_path,class:"btn btn-warning" %>
<% end %>