
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>登陆</h2>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :邮箱 %>
        <%= f.email_field :email, autofocus: true,class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :密码 %>
        <%= f.password_field :密码, autocomplete: "off" ,class:"form-control" %>
      </div>
      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
          <div >
            <%= f.check_box :remember_me %>
            <%= f.label :记住我 %>
          </div>
        <% end -%>
       </div>
      <div class="form-group">
        <%= f.submit "登陆" ,class:"btn btn-warning"%>
      </div>
    <% end %>
    </div>
    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
</div>
