<!DOCTYPE html>
<html>
<head>
  <title>HelloRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "主页", root_path %>
	<%= link_to "关于", about_path %> 
<%= yield %>

</body>
</html>
